#signbutton {
  height: 2.5em;
  border-radius: 0.5em;
  border: 1px solid $color--black;
  margin: 0.5em 0;
  text-transform: capitalize;
  font-weight: 500;
}

.signbutton {
  &__signin {
    background: none;
  }
}
